<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BrilliantFit_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>user</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test1</display-name>
    <servlet-name>test1</servlet-name>
    <servlet-class>test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test1</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductUploadServlet</servlet-name>
    <servlet-class>ProductUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUploadServlet</servlet-name>
    <url-pattern>/ProductUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_update</display-name>
    <servlet-name>admin_update</servlet-name>
    <servlet-class>admin_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_update</servlet-name>
    <url-pattern>/admin_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_delete</display-name>
    <servlet-name>admin_delete</servlet-name>
    <servlet-class>admin_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_delete</servlet-name>
    <url-pattern>/admin_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_category</display-name>
    <servlet-name>delete_category</servlet-name>
    <servlet-class>delete_category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_category</servlet-name>
    <url-pattern>/delete_category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryUploadServlet</display-name>
    <servlet-name>CategoryUploadServlet</servlet-name>
    <servlet-class>CategoryUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryUploadServlet</servlet-name>
    <url-pattern>/CategoryUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_categories</display-name>
    <servlet-name>delete_categories</servlet-name>
    <servlet-class>delete_categories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_categories</servlet-name>
    <url-pattern>/delete_categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_user</display-name>
    <servlet-name>delete_user</servlet-name>
    <servlet-class>delete_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_user</servlet-name>
    <url-pattern>/delete_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculate</display-name>
    <servlet-name>calculate</servlet-name>
    <servlet-class>calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculate</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>